In [1]:
import pandas as pd

In [2]:
y = pd.Period('2016')

In [3]:
y

Period('2016', 'A-DEC')

In [4]:
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [5]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [12]:
m = pd.Period('2012 - 12',freq = 'M')

In [13]:
m

Period('2012-12', 'M')

In [14]:
m.start_time

Timestamp('2012-12-01 00:00:00')

In [15]:
m.end_time

Timestamp('2012-12-31 23:59:59.999999999')

In [16]:
m+1

Period('2013-01', 'M')

In [17]:
d = pd.Period('2017-02-28',freq = 'D')

In [18]:
d

Period('2017-02-28', 'D')

In [20]:
d+1
# it also consider leap year we can check with leap year

Period('2017-03-01', 'D')

In [22]:
h = pd.Period('2017-02-28 23:00:00',freq = 'H')

In [24]:
h

Period('2017-02-28 23:00', 'H')

In [25]:
h.start_time

Timestamp('2017-02-28 23:00:00')

In [27]:
h.end_time

Timestamp('2017-02-28 23:59:59.999999999')

In [28]:
h+1

Period('2017-03-01 00:00', 'H')

In [29]:
q = pd.Period('2017Q1')

In [30]:
q

Period('2017Q1', 'Q-DEC')

In [31]:
q+1

Period('2017Q2', 'Q-DEC')

In [36]:
#Fiscal year which start from feb and end at jan
q = pd.Period('2017Q1',freq = 'Q-JAN')

In [33]:
q

Period('2017Q1', 'Q-JAN')

In [34]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [35]:
# change the existing freq to another
q.asfreq('M',how = 'start')

Period('2016-02', 'M')

In [39]:
q = pd.Period('2017Q1',freq = 'Q-JAN')
q2 = pd.Period('2018Q1',freq = 'Q-JAN')

In [41]:
q2 - q

# Excersice regarding walmart

In [42]:
df = pd.read_csv("walmart.csv")

In [43]:
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [44]:
df.set_index("Line Item",inplace= True)

In [45]:
df = df.T

In [46]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [47]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [49]:
df.index = pd.PeriodIndex(df.index,freq = 'Q-JAN')

In [50]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [51]:
df['start date'] = df.index.map(lambda x: x.start_time)

In [52]:
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [53]:
df['end date'] = df.index.map(lambda x: x.end_time)

In [54]:
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999