In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv("weather.csv")

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
#shape means dimension
df.shape

(6, 4)

In [5]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [6]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [7]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [8]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [9]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [10]:
type(df['event'])

pandas.core.series.Series

In [11]:
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [12]:
df['temperature'].max()

35

In [13]:
df['temperature'].mean()

30.333333333333332

In [14]:
df['temperature'].min()

24

In [15]:
#it only give data for the numercial data
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [16]:
df[df.temperature >=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [18]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [19]:
df[['day','event']][df.temperature == df.temperature.max()]

        day  event
1  1/2/2017  Sunny

In [20]:
df.index

RangeIndex(start=0, stop=6, step=1)

Different ways to get the dataFrame
1. CSV
2. excel
3. Dictionary
4. Tuple
5. List

In [21]:
student = {
    'name':['Dhan','aaditi'],
    'course':['Data science','MBA']
}
df = pd.DataFrame(student)

In [22]:
df

     name        course
0    Dhan  Data science
1  aaditi           MBA

In [26]:
student = [
    ('Dhan','data Science'),
    ('aaditi','MBA')
]

In [27]:
df = pd.DataFrame(student,columns=['Name','course'])

In [28]:
df

     Name        course
0    Dhan  data Science
1  aaditi           MBA

we can also generate data frame from list of dictionary